@import './reset.css';

body {
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  background: url('../assets/img/bg.png') repeat;
  -webkit-font-smoothing: antialiased;
}

#spinner.stop {
  display: none;
}

#spinner > div {
  background-color: #ccc;
  height: 100%;
  width: 6px;
  margin: 0 3px 0 0;
  display: inline-block;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

#spinner > div.rect2 {
  animation-delay: -1.1s;
}

#spinner > div.rect3 {
  animation-delay: -1s;
}

#spinner > div.rect4 {
  animation-delay: -0.9s;
}

#spinner > div.rect5 {
  animation-delay: -0.8s;
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}
