html {
  box-sizing: border-box;
  font-family: -apple-system, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}

ul,
ol,
dl {
  list-style: none;
}

/* 表单和按钮 */
input,
textarea,
select,
button {
  outline: none;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 字体 */
a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

i,
em {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: normal;
}

/* 其他 */
img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

[hidden] {
  display: none;
}
